.appartments {

	&__intro {
		padding-bottom: 5rem;

		@include above(sm) {
			padding-bottom: 8rem;
		}
	}

	&__item {
		display: flex;
		flex-direction: column;
		color: $color-body;
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;

		@include below(sm) {
			width: 100%;
		}
	}

	&__header {
		padding-bottom: 3rem;

		@include above(sm) {
			padding-bottom: 5rem;
		}
	}

	&__img {
		min-height: 30rem;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
	}

	&__content {
		background: $white;
		padding: 3rem 1.5rem;
		flex: 1;
		font-size: 1.4rem;

		&--archive {
			padding: 3rem 0rem;
		}

		strong {
			font-family: $font-headings;
			font-size: 1.6rem;
		}
	}

	&__title {
		margin-top: 0;

		&--archive {
			padding-top: 3rem;
		}
	}

	&__details {
		padding-top: 1rem;
		padding-bottom: 1rem;

		&-detail {

			i {
				margin-right: .5rem;
			}

			@include below (xs) {
				width: 100%;
			}

			@include below (sm) {
				text-align: left;
				padding-top: 1.5rem;
				padding-bottom: 1.5rem;
			}

			@include between (xs, sm) {
				width: 50%;
			}
		}
	}

	&__btn {
		padding-top: 5rem;

		@include above(sm) {
			padding-top: 8rem;
		}
	}

	&__row {
		@include clearfix();
	}
}