.contact {

	&__info {
		line-height: 2;

		a {
			color: $blue;
			transition: all ease .3s;

			&:hover {
				color: $blue;
			}
		}
	}

	&__title {
		margin-top: 0;
	}

	&__form {

		@include below(sm) {
			width: 100%;
		}
	}
}