.cta {
	padding-top: 5rem;
	padding-bottom: 5rem;

	@include overlay(
		$blue,
		$opacity: .7
	);

	&:after {
		background-blend-mode: multiply;
	}

	@include above(sm) {
		padding-top: 10rem;
		padding-bottom: 10rem; 
	}

	&__text {
		position: relative;
		z-index: 10;
		color: $white;
	}

	&__title {
		color: $white;
		margin-top: 0;
	}

	&__btn {
		margin-top: 3rem;
	}
}