.footer {
	padding-top: 3rem;
	padding-bottom: 3rem;

	@include above (sm) {
		padding-top: 5rem;
		padding-bottom: 5rem;	
	}

	&__item {
		line-height: 1.8;

		@include below (sm) {
			padding-bottom: 3rem;
		}

		a {
			color: $white;
		}
		
		p {
			
			@include above (sm) {
				margin-bottom: 0;
			}
		}
	}
}
