.header {
	position: relative;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;	

	&__logo {
		display: block;
		float: left;

		img {
			width: 15rem;
			height: 6.9rem;

			@include above(md) {
				width: 21.1rem;
				height: 9.6rem;
			}
		}
	}
}