.link-boxes {

	&__intro {
		padding-bottom: 5rem;

		@include above(sm) {
			padding-bottom: 8rem;
		}
	}
 
	&__header {

	}

	&__item {
    	display: flex;
    	flex-direction: column;
    	align-items: center;

    	@include below(sm) {
    		width: 100%;
    		margin-top: 1.5rem;
    		margin-bottom: 1.5rem;
    	}
	}

	&__icon {
		background: $blue-light;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 9.9rem;
		height: 9.9rem;
		border-radius: 50%;
		
		svg, &--img  {
			max-height: 3.1rem;
			width: auto;

			path {
				fill: $blue;
			}
		}	
	}

	&__title {

	}
}