.page {

	&__hero {
		padding-top: 5rem;
		padding-bottom: 5rem;
		background-position: center center;
		background-size: cover;
		@include overlay();

		@include above(sm) {
			padding-top: 10rem;
			padding-bottom: 10rem;
		}

		&--frontpage {
			padding-top: 15rem;
			padding-bottom: 15rem;

			@include above(sm) {
				padding-top: 20rem;
				padding-bottom: 20rem;
			}
		}
	}

	&__container {
		position: relative;
		z-index: 10;

		svg {
			max-width: 100%;
		}
	}

	&__title {
		color: $white;
	}
}
