.search-result {

	&__item {
		display: none !important;

		&.is-visible {
			display: block !important;
		}
	}

	&__categories {

		@include below(sm) {
			padding: 0;
			margin-bottom: 1.5rem;
		}

		@include above(sm) {
			padding-left: 0;
		}
	}

	&__filter {
		padding: 3rem 1.5rem;
		border-radius: .5rem;
		background: $blue-light;

		p {
			font-weight: 600;
		}

		label {
			display: flex;
			align-items: center;
			margin-bottom: 1.5rem;

			&:last-child() {
				margin-bottom: 0;
			}
		}
	}

	&__checkbox {
		border-radius: 0;
		-webkit-appearance: none;
		background: $blue;
		width: 1.6rem;
		height: 1.6rem;
		margin-right: .5rem;
		position: relative;

		&:after {
		    content: '';
		    display: none;
		    transform: rotate(45deg);
		    height: 1rem;
		    width: .5rem;
		    border-bottom: 0.2rem solid $white;
		    border-right: 0.2rem solid $white;
		    left: 0.55rem;
		    top: .2rem;
		    position: absolute;
		}

		&:checked {
			
			&:after {
				display: inline-block;
			}
		}
	}
}