.slider {

	&__track {
		border-radius: .5rem;
		overflow: hidden;
	}

	&__item {
		position: relative;
		z-index: 2;
		width: 100%;
		background: no-repeat center center;
		background-size: cover;

		&:before {
			content: '';
			display: block;
			height: 0;
			padding-bottom: 35rem;

			@include above (sm) {
				padding-bottom: 55rem;
			}
		}
	}

	&__container {

	}

	&__thumb {
		min-height: 15rem;
		width: calc(50% - 1.5rem);
		margin: 1.5rem .75rem;
		background: no-repeat center center;
		background-size: cover;
		border-radius: .5rem;

		@include above(sm) {
			width: calc(25% - 1.5rem);
			min-height: 20rem;
		}

		&:hover {
			cursor: pointer;
		}

		&.active {
			border: solid $blue .3rem;
		}
	}

	&__title {

	}

	&__text {

	}	
}


/**
 * Owl Carousel core
 **/

.is-slider {
	width: 100%;
	-webkit-tap-highlight-color: transparent;
	position: relative;
	z-index: 1;

	.owl-stage {
		position: relative;
		-ms-touch-action: pan-Y;

		&:after {
			content: '';
			display: block;
			clear: both;
			visibility: hidden;
			line-height: 0;
			height: 0;
		}

		&-outer {
			position: relative;
			overflow: hidden;
			-webkit-transform: translate3d(0, 0, 0);
		}
	}

	.owl-item {
		position: relative;
		min-height: 1px;
		float: left;
		-webkit-backface-visibility: hidden;
		-webkit-tap-highlight-color: transparent;
		-webkit-touch-callout: none;
		-webkit-transform: translate3d(0,0,0);
	}

	// Navigation
	.owl-nav,
	.owl-dots {
		&.disabled {
			display: none;
		}
	}

	.owl-prev,
	.owl-next,
	.owl-dot {
		cursor: pointer;
		cursor: hand;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		transition: all .3s ease;

		&.disabled {
			opacity: 0;
			cursor: default;
		}
	}

	// States
	&.owl-loaded {
		display: block;
	}

	&.owl-loading {
		opacity: 0;
		display: block;
	}

	&.owl-hidden {
		opacity: 0;
	}

	&.owl-refresh .owl-item {
		display: none;
	}

	&.owl-drag .owl-item {
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	&.owl-grab {
		cursor: move;
		cursor: grab;
	}

	&.owl-rtl {
		direction: rtl;
	}

	&.owl-rtl .owl-item {
		float: right;
	}

	/**
	 * Animations
	 **/

	 // Defaults
	.animated {
		animation-duration: 1000ms;
		animation-fill-mode: both;
	}

	.owl-animated-in {
		z-index: 0;
	}

	.owl-animated-out {
		z-index: 1;
	}
}