.accordion {

    &__intro {
        padding-bottom: 3rem;

        @include above(sm) {
            padding-bottom: 5rem;
        }
    }

    &__header {
        margin-top: 0;
    }

    &__item {
        margin-bottom: 2rem;

        &:last-child() {
            margin-bottom: 0;
        }
    }

    &__title {
        background: $blue-light;
        cursor: pointer;
        padding: 18px !important;
        width: 100%;
        text-align: left;
        border: none;
        outline: none;
        transition: .3s;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0;
        line-height: 1.3;
        font-size: 1.8rem;
        font-weight: 600;
        border-radius: 1rem;

        &.is-active {

            .fas {
                transform: rotate(180deg);
            }
        }
    }

    &__wrapper {

    }

    &__panel {
        padding: 0 1.5rem;
        max-height: 0;
        overflow: hidden;
        transition: all .3s cubic-bezier(0.215, 0.61, 0.355, 1);
        min-height: 0;
        background: $white;

        a {
            transition: all ease .3s;
            color: $color-body;
        }

        &.is-visible {
            opacity: 1;
            min-height: fit-content;
            max-height: none;
            padding: 1.5rem;
        }
    }
}