.btn {
	display: inline-block;
	padding: 1.5rem 4.5rem;
	border-radius: 2.5rem;
	font-family: $font-headings;

	&--blue {
		background: $blue;
		color: $white !important;
	}

	&--white {
		background: $white;
		color: $blue;
	}
}