//gravity forms
.gform {

	&_wrapper {
		margin-bottom: 0;
	}

	&_body {
		margin-top: 1.5rem;
	}

	&_fields {
		padding-left: 0;
		list-style: none;
	}

	&_footer {
		margin-top: 1.5rem;
		text-align: center;
	}

	// Submit
	&_button {		
		display: inline-block;
		-webkit-appearance: none;
		cursor: pointer;
		transition: all .3s ease; 
		outline: none;
		border: none;

		@extend .btn, .btn--blue;
	}
}


//form fields
.gfield {

	// Labels
	&_label {
		display: none !important;
	}

	&_consent {

		&_label {
			font-size: 1.4rem;
		}

		&_description {
			border: none !important;
			text-align: center;

			a {
				color: $blue;
			}
		}
	}

	//fields
	input[type="email"],
	input[type="text"],
	textarea, select {
		width: 100%;
		border: none;
		-webkit-appearance: none;
		padding: 1.5rem !important;
		background: $blue-light;
		border-radius: .5rem;
	}
}

input:focus::-webkit-input-placeholder {
    color: $blue-medium;
}

textarea:focus::-webkit-input-placeholder {
	color: $blue-medium;
}

textarea::-webkit-input-placeholder {
	color: $blue-medium;
}


input::-webkit-input-placeholder {
	color: $blue-medium;
}


//validations
.validation_error {
	color: red !important;
	text-align: left !important;
	border-top: none !important;
	border-bottom: none !important;
	padding: 0 !important;
}

.gfield_error {
	min-width: 100%!important;
	border: none !important;
	padding: 0 !important;
	background: transparent !important;

	.gfield_label,
	.gfield_required {
		color: red !important;
	}

	.validation_message {
		color: red !important;
		font-size: 1.2rem !important;
	}

	input[type="email"],
	input[type="text"],
	textarea {
		border: 0.2rem solid red !important;
	}
}