.google-map {
	min-height: 30rem;
	border-radius: .5rem;

	@include above(sm) {
		min-height: 50rem;
	}

	&__thumb {
		min-height: 15rem;
		display: block;
		background: no-repeat center center;
		background-size: cover;
	}
} 