//barba
.transition__container {
   transform: translateZ(0);
   perspective: 1000;
   backface-visibility: hidden;
}

.transition__pace {
	position: fixed;
	top: 0;
	width: 0;
	height: 4px;
	background: $blue;
	z-index: -1;
	right: 0;
	transition: all .4s;
	transition-timing-function: cubic-bezier(1, 0, 0, 1); 

	&.is-active {
		z-index: 200;
		width: 100%;
		left: 0;
	}
}