.fade-up {
	transition: all .7s ease-out;
	transform: translate3d(0, 5rem, 0) translateZ(0);
	backface-visibility: hidden;
	opacity: 0;

	@include above (sm) {
		transform: translate3d(0, 10rem, 0) translateZ(0);
	}
}

.fade-up.in-view {
	opacity: 1;
	transform: translate3d(0, 0, 0) translateZ(0); 
}

