/********************VARIABLES********************/

// Custom fonts example (modify as needed)
@font-face { 
  font-family: 'Poppins'; 
  src: url('../fonts/Poppins-Regular.ttf') format('truetype');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins ExtraBold';
  src: url('../fonts/Poppins-ExtraBold.ttf') format('truetype');
  font-display: swap;
  font-weight: 800; 
  font-style: normal;
}

// Fonts
$font-body: 'Poppins', serif; 
$font-headings: 'Poppins ExtraBold', sans-serif; 

// Base sizes
$base-font-size: 16px; // General font-size, also used for mobile - default 16px
$base-font-size-desktop: 16px; // Desktop font-size - default 16px 

/********* Colors *********/

$white: white;
$black: black;
$gray: #1B1C20;

$blue-light: #EFF4FF;
$blue-medium: #959DB7;
$blue: #149DCC;
$blue-dark: #011842;

// Set font colors
$color-body: $blue-dark;
$color-headings: $color-body;


// Bootstrap Grid only
//


// Grid breakpoints
//
// Define the minimum and maximum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  // Extra small screen / phone
  xs: 480px,
  // Small screen / phone
  sm: 768px,
  // Medium screen / tablet
  md: 992px,
  // Large screen / desktop
  lg: 1170px,
  // Extra large screen / wide desktop
  xl: 1400px
) !default;


// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns:               12 !default;
$grid-gutter-width:          3rem !default; // 2rem

//missing variables
$enable-flex:               false !default;
$enable-grid-classes:        true !default;